/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos generales */
body {
  background-color: #efdae0; /* rosa */
  font-family: 'EB Garamond', serif;
}

/* Franja burdeos */
.banda-inicial {
  width: 100%;
  background-color: #590a1b;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px 20px;
  text-align: center;
}

.contenido-cita {
  color: white;
  max-width: 800px;
}

.banda-inicial p {
  margin: 0.5em 0;
  font-size: 1.5rem;
  line-height: 1.6;
}

.autor {
  margin-top: 1.5em;
  font-style: italic;
  font-size: 1.3rem;
}

/* Imagen ribete superior */
.imagen-ribete {
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: #efdae0;
}

.imagen-ribete img {
  max-width: 100%;
  height: auto;
  display: block;
  max-height: 400px;
}

/* Sección CEREMONIA Y RECEPCIÓN */
.detalles-evento {
  text-align: center;
  margin: 20px 0 40px 0;
  padding: 0 20px;
}

.detalles-evento h2 {
  font-size: 2.5rem;
  color: #590a1b;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.detalle-lugar {
  color: #303030;
  font-size: 1.5rem;
  line-height: 1.6;
}

/* Imagen del Palacio */
.imagen-palacio {
  display: flex;
  justify-content: center;
  background-color: #efdae0;
  padding: 20px;
}

.imagen-palacio img {
  width: 100%;
  max-width: 800px;
  height: auto;
  display: block;
}

/* Imagen del mapa con enlace */
.imagen-mapa {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.imagen-mapa img {
  width: 100%;
  max-width: 600px;
  height: auto;
  display: block;
}

/* Imagen ribete inferior */
.imagen-ribete-inferior {
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: #efdae0;
}

.imagen-ribete-inferior img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Responsive para móviles */
@media (max-width: 600px) {
  .banda-inicial p {
    font-size: 1.1rem;
  }

  .autor {
    font-size: 1rem;
  }

  .detalles-evento h2 {
    font-size: 1.7rem;
    font-weight: 400;
  }

  .detalle-lugar {
    font-size: 1.5rem;
  }

  .imagen-palacio img {
    width: 90%;
    max-width: 90%;
  }

  .imagen-mapa img {
    width: 85%;
    max-width: 85%;
  }
}

