/* Estilo global */
body {
  margin: 0;
  font-family: 'Cormorant Garamond', serif;
  background-color: #efdae0;
}

.franja {
  background-color: #590a1b;
  padding: 50 px 50 px; /* Más espacio lateral y un poco más de alto */
  text-align: center;
}

.mensaje {
  color: white;
  font-size: 0.8 em;
  line-height: 1.6;
  margin: 0;
  font-family: 'Cormorant Garamond', serif;
  font-weight: normal;
  letter-spacing: 1 px;
  max-width: 80 %; /* Limita el ancho del texto */
  margin-left: auto;
  margin-right: auto;
  padding-left: 50 px; /* Espacio a la izquierda */
  padding-right: 50 px; /* Espacio a la derecha */
}

.autor {
  font-style: italic; /* Antonio Machado en cursiva */
}

/* Estilo para la imagen */
.imagen-container {
  text-align: center;
  padding: 20px 0; /* Añade espacio alrededor de la imagen */
}

.imagen {
  max-width: 80%; /* La imagen no ocupa el 100% del ancho de la pantalla */
  height: auto; /* Mantiene la proporción de la imagen */
  border-radius: 8px; /* Puedes darle bordes redondeados si lo prefieres */
  margin: 0 auto; /* Centra la imagen */
}

/* Nueva sección con fondo rosa */
.fondo-rosa {
  background-color: #efdae0;
  padding: 40px 0;
  text-align: center;
}

/* Estilo para el botón */
.boton-mapa {
  background-color: #590a1b; /* Fondo burdeos */
  color: white;
  padding: 12px 30px;
  font-size: 1.2em;
  font-family: 'Cormorant Garamond', serif;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  text-align: center;
  margin: 0 auto; /* Asegura que el botón esté centrado */
  display: block; /* Esto asegura que el botón sea un bloque y esté centrado */
  max-width: 250px; /* Limita el tamaño del botón */
}

/* El botón no cambia cuando se pasa el ratón por encima */
.boton-mapa:hover {
  background-color: #590a1b; /* No cambia */
}

/* El botón no cambia al hacer clic */
.boton-mapa:active {
  background-color: #590a1b; /* No cambia */
}



/* Adaptación en móviles */
@media (max-width: 600 px) {
  .mensaje {
    font-size: 1.4 em;
    font-family: 'Cormorant Garamond', serif;
    padding-left: 20 px; /* Menos espacio en móviles */
    padding-right: 20 px;
  }
}
